	body 
					{background-color: white;}

#background_image  {background-image:url("sweetpotatos_edt.jpg");
					position: absolute;
					background-repeat: no-repeat;
					background-position: center;
					width: 100%;
					height: 100%;

					}



.container			{position: absolute;
					width:  100%;
					height: 100%;
					text-align: center;}

/*#grocery {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 1440px; 
  height: 900px;*/
}
#grocery { 
  position: absolute;
  width: 100%;
  height: 100%; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 100%;
  min-height: 100%;}



				/*min-height: 100%;
  				min-width: 1024px;
  				width: 100%;
  				height: auto;
  				position: fixed;
  				top: 0;
  				left: 0;

				 /* background-repeat:no-repeat;
    			 background-attachment:fixed;
    			background-position: center bottom;
    			/*position:absolute;
    			height:610px;
    			width: ?px;*/
   				



div.header	{ background-color: #A5E6B4;
	   position: absolute;
	   width: 100%;
	   height: 10%;
	   left: 0px;
	   right: 0px;
	   border-style: "solid";
	   border-width: 10px;
	   border-color: black;
	   border-style: solid;
	   border-radius: 50px;
	   text-align: center;
	   font-family: Ariel;
	 	}

div.address  { background-color: black;
		position: absolute;
	   width: 500px;
	   height: 50px;
	   border-style: "solid";
	   border-width: 10px;
	   border-color: black;
	   border-style: solid;
	   margin-top: 20%;
	   margin-left: 35%;
	   text-align: center;
	   color: white;
	   border-radius: 50px;
	 	}

div.address:hover {color:white;} /*this does not work*/

div.city  { background-color: black;
	   position: absolute;
	   width: 500px;
	   height: 50px;
	   border-style: "solid";
	   border-width: 10px;
	   border-color: black;
	   border-style: solid;
	   margin-top: 25%;
	   margin-left: 35%;
	   text-align: center;
	   color: white;
	   border-radius: 50px;
	}

div.zipcode  { background-color: black;
	   position: absolute;
	   width: 500px;
	   height: 50px;
	   border-style: "solid";
	   border-width: 10px;
	   border-color: black;
	   border-style: solid;
	   margin-top: 30%;
	   margin-left: 35%;
	   text-align: center;
	   color: white;
	   border-radius: 50px;
	 }


div.vegetables  { background-color: white;
	   position: absolute;
	   width: 15px;
	   height: 15px;
	   border-style: "solid";
	   border-width: 5px;
	   border-color: black;
	   border-style: solid;
	   margin-top: 35%;
	   margin-left: 37%;
	 }


	div.fruits  { background-color: white;
		position:absolute;
	   width: 15px;
	   height: 15px;
	   border-style: "solid";
	   border-width: 5px;
	   border-color: black;
	   border-style: solid;
	   margin-top: 35%;
	   margin-left: 48%;
	 }

	 div.meat  { background-color: white;
		position:absolute;
	   width: 15px;
	   height: 15px;
	   border-style: "solid";
	   border-width: 5px;
	   border-color: black;
	   border-style: solid;
	   margin-top: 35%;
	   margin-left: 60%;
	 }



.address_finder { background-color: white;
		   position: absolute;
	   	   width: 1000px;
	   height: 50px;
	   border-style: "solid";
	   border-width: 10px;
	   border-color: black;
	   border-style: solid;
	   margin-top: 20%;
	   margin-left: 35%;
	   text-align: center;
	   color: black;
	   border-radius: 50px;
	 	}
